.btn {
    display: block;
    font-size: 15px;
    line-height:2;
    font-weight: 400;
    text-align: center;
    border: transparent;
    color: var(--primary-white);
    background-color: var(--primary-orange);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 10px;
    cursor: pointer;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
        box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);

    &:hover{
        background-color: var(--primary-text-color);
        border: 2px solid var(--primary-orange);
    }
}