.footer{
    background: #111111;
    padding: 90px 150px 80px 150px;
}
.footer-wrapper{
    display: flex;
    flex-direction: row;
}
.footer-logo-column{
    display: flex;
    flex-direction: column;
    padding-right: 70px;
}
.footer-logo{
    font-weight: 400;
    font-size: 40px;
    line-height: 1.3;
    color: #FFFFFF;
    margin-bottom: 17px;
    &:hover,
    &:focus {
        color: #FD8558;
    }
}
.footer-contacts-list{
    display: flex;
    flex-direction: row;
}
.footer-contacts{
    font-weight: 400;
    font-size: 15px;
    line-height: 1.5;
    color: rgba(255, 255, 255, 0.6);
}
.footer-link{
    font-weight: 400;
    font-size: 15px;
    line-height: 1.5;
    color: rgba(255, 255, 255, 0.6);
        &:hover,
        &:focus {
            color: #FD8558;
        }
}
.footer-span{
    margin-left: 10px;
}
.blog-lists{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: baseline;
    margin-left: 90px;
    // margin-bottom: 40px;
    padding-bottom: 30px;
}
.home-list{
    display: flex;
    flex-direction: column;
    margin-right: 90px;
    &:last-child {
            margin-right: 0;
        }
}
.footer-title{
    font-weight: 400;
        font-size: 24px;
        line-height: 1.3;
        color: #FFFFFF;
        margin-bottom: 19px;
}
.blog-list-item{
margin-bottom: 9px;
width: 156px;
    &:last-child {
        margin-bottom: 0;
    }
    
}
.footer-list-text{
    font-weight: 400;
        font-size: 14px;
        line-height: 1.4;
        color: #BABABA;
        &:hover,
        &:focus {
            color: #FD8558;
        }
}
.copyright{
    font-weight: 400;
    font-size: 15px;
    line-height: 2;
    text-align: center;
    letter-spacing: 0.3px;
    color: #BABABA;
    margin-top: 60px;
}

.copyright-link{
    font-weight: 400;
    font-size: 15px;
    line-height: 2;
    text-align: center;
    letter-spacing: 0.3px;
    color: #FFFFFF; 
        &:hover, &:focus {
            color: #FD8558;
        }
    
}
.footer-socials{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-top: 15px;
    padding-left: 5px;
    padding-right: 5px;
}
.footer-socials-icon{
    width: 30px;
    height: 30px;
    fill: #FFFFFF;
        &:hover {
            fill: #FD8558;
        }
}
.footer-socials-link{
    text-decoration: none;    
}

.footer-socials-title{
    margin-top: 20px;
    font-weight: 400;
    font-size: 18px;
    line-height: 1.3;
    color: #FFFFFF;
    text-align: center;
}