.gallery{
    display: flex;
}

.areaB{
    display: flex;
    align-content: stretch;
}

.gallery-overlay{
    display: flex;
    position: absolute;
    background: rgba(255, 255, 255, 0.85);
    border-radius: 10px;
    border: 1px solid var(--about-us-title);
    justify-content: space-between;
    align-items: center;
}
.gallery-text{
    font-weight: 400;
    line-height: 1.38;
    color: var(--smooth-black);
    text-align: center;
    padding: auto;
}
.checkbox{
    color: var(--primary-white);
    border: 2px solid var(--smooth-black);
}