
.hamburger-container {
position: absolute;
display: none;
top: 0;
right: 0;
align-items: center;
justify-content: space-between;
}
.open{
   z-index: 13;
   padding: 30px 10px 0 25px;
 width: 33vw;
  height: 100%;
  background-color: var(--quote-text);
}

#myLinks {
  display: none;
  flex-direction: column;
gap: 35px;
position: absolute;
top: 50px;

}

.hamburger-container a {
  color: var(--portfolio-decor-color);
  padding: 5px 8px;
  text-decoration: none;
  font-size: 17px;
  display: inline-block;
  width: 30px;
  height: 30px;
}

.icon {
  background-color: transparent;
  display: inline-block;
  position: absolute;
  right: 10px;
  top: 10px;
 width: 30px;
  height: 30px;
  z-index: 14;
  cursor: pointer;
  border-radius: 10px;
  outline: none;
  border: transparent;
}

.hamburger-container a:hover {
  background-color: #ddd;
  color: black;
}

