.hero {
    background-color: #000000;
    background-image: linear-gradient(rgba(47, 48, 58, 0.4),
            rgba(47, 48, 58, 0.4)),
        url(../../images/body-1-1x.png),
        url(../../images/body-2-1x.png),
        url(../../images/body-3-1x.png),
        url(../../images/body-4-1x.png),
        url(../../images/body-5-1x.png),
        url(../../images/bg-1x.jpg);
    background-position: center, right top, right, right bottom, left top, left bottom;
    background-size: cover, 183px, 34px, 936px, 433px, 50px;
    background-repeat: no-repeat, no-repeat, no-repeat, no-repeat, no-repeat, no-repeat;
    background-origin: border-box;
    width: 100vw;
    height: 100vh;
    min-width: 100%;
    max-width: 1440px;
    max-height: 777px;
    text-align: center;
    margin-left: 0;
    margin-right: 0;
    padding: 200px 0 320px 0;
}

.hero-title {
    font-size: 70px;
    line-height: 1.22;
    font-weight: 400;
    text-align: center;
    color: #FFFFFF;
    margin-bottom: 41px;
    // margin-right: auto;
    // margin-left: auto;
    padding: auto;
}
.hero-btns{
    display: flex;
    justify-content: center;
    // align-items: baseline;

    .btn{
        margin-right: 30px;
        &:last-child{
            margin-right: 0;
        }
    }
}