.logo{
    display: block;
    color: var(--smooth-black);
    @include font(28px, 1.6, 1.1px, 700);
    text-transform: lowercase;    
    animation: rotateLogo 3s linear infinite;

    &:hover,
    &:focus {
    color: var(--primary-orange);
    }
}