.logo{
    color: #222222;
    font-weight: 700;
    font-size: 28px;
    line-height: 1.6;
    letter-spacing: 1.1px;
    text-transform: lowercase;
    margin-left: 86px;
    padding-top: 6px;
    padding-bottom: 23px;
    display: block;
    animation: rotateLogo 3s linear infinite;
    &:hover,
    &:focus {
    color: #FD8558;
    }
}