.portfolio-decorations{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    position: relative;
    margin-bottom: 150px;
}
.left-rectangle{
    position: absolute;
    background: #F5F5F5;
    border-radius: 0px;
    width: 606px;
    height: 2px;
    left: 39px;
}
.right-rectangle{
    position: absolute;
    background: #F5F5F5;
    border-radius: 0px;
    width: 606px;
    height: 2px;
    right: 39px;
}
.portfolio-svg{
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
}
.portfolio-review{
    display: flex;
    justify-content: space-between;
    margin-right: 120px;
    margin-left: 120px;
    
}

.portfolio-title{
    font-weight: 400;
    font-size: 14px;
    line-height: 1.1;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: #FD8558;
    margin-bottom: 8px;
}

.portfolio-text{
    font-weight: 400;
    font-size: 32px;
    line-height: 1.2;
    color: #333333;
}

.big-title-portfolio{
    font-weight: 400;
    font-size: 200px;
    line-height: 0.9;
    text-align: right;
     color: #F7F7F7;
     margin-right: 30px;
}