.portfolio-decorations{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    position: relative;
    margin-bottom: 150px;
}
.left-rectangle{
    position: absolute;
    background: var(--portfolio-decor-color);
    border-radius: 0px;
    width: 33%;
    height: 2px;
}
.right-rectangle{
    position: absolute;
    background: var(--portfolio-decor-color);
    border-radius: 0px;
    width:33%;
    height: 2px;
}
.portfolio-svg{
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
}
.portfolio-review{
    display: flex;
    justify-content: space-between;
}

.portfolio-title{
    font-weight: 400;
    line-height: 1.1;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: var(--primary-orange);
    margin-bottom: 8px;
}

.portfolio-text{
    font-weight: 400;
    line-height: 1.2;
    color: var( --about-us-title);
}

.big-title-portfolio{
    font-weight: 400;
    line-height: 0.9;
    text-align: right;
     color: var(--big-section-title);
}