.scroll-up-btn{
    display: none;
    position: fixed;
    bottom: 40px;
    right: 30px;
   behavior: "smooth";
    border: none;
    outline: none;
    background: transparent;
    width: 50px;
    height: 50px;
    transition: 0.5s;
    cursor: pointer;
        &:hover, &:active{
            transition: 0.5s;
        }
}

.btn-up-icon{
    fill:var(--primary-orange);
    width: 50px;
        height: 50px;
    &:hover {
        fill:var(--about-us-text);
        }
}