.team{
    display: flex;
    justify-content: space-between;
}
.team-review{
    display: flex;
    flex-direction: column;
}

.team-skills {
    display: flex;
    flex-direction: column;
}

.team-title{
    font-weight: 400;
    line-height: 1.1px;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: var(--primary-orange);
}
.team-text{
    font-weight: 400;
    line-height: 1.2;
    color: var( --smooth-black);
    margin-bottom: 15px;
}
.team-article{
    font-weight: 400;
    line-height: 1.82;
    color: var(--about-us-text);
    padding-right: 55px;
    margin-right: 16px;
}
.skills-item{
    display: flex;
    justify-content: space-between;
    margin-bottom: 3px;
}
.skills-title{
    font-weight: 400;
    font-size: 18px;
    line-height: 1.4;
    color: var( --smooth-black);
}
.skills-number{
    font-weight: 400;
    font-size: 15px;
    line-height: 1.56;
    color: var(--about-us-text);
}

.progress {
    display: flex;
    overflow: hidden;
    background-color: var(--progress-bar-skills);
    border-radius: 0.25rem;
}

.progress-bar {
    height: 30px;
    transition: width 0.6s ease;
    background: linear-gradient(to right, gold, red);
    clip-path: inset(0 calc(100% - var(--width)) 0 0);
}

.team-group-title{
    font-weight: 400;
        line-height: 1.1px;
        letter-spacing: 2px;
        text-align: center;
        text-transform: uppercase;
        color: var(--primary-orange);
        margin-top: 109px;
}
.team-capital{
    font-weight: 400;
    line-height: 1.3;
    text-align: center;
    text-transform: capitalize;
    color: var(--smooth-black);
    margin-bottom: 38px;
}
.team-list{
    display: flex;
    align-items: center;
    justify-content: center;
}

.team-overlay{
    display: flex;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    flex-direction: column;
    position: absolute;
    justify-content: center;
    align-items: center;    
    margin-bottom: 80px;
    overflow: hidden;
    transform: translateY(17%);
}
.team-member-name{
    font-weight: 400;
    font-size: 24px;
    line-height: 1.25;
    text-align: center;
    text-transform: capitalize;
    color: var(--primary-white);
    margin-bottom: 1px;
}
.team-member-position{
    font-weight: 400;
    font-size: 14px;
    line-height: 1.7;
    text-align: center;
    color: var(--team-member-position);
}
.team-wrapper{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 115px;
}