:root{
    --primary-text-color: #000000;
    --primary-orange: #fd8558;
    --smooth-black: #222222;
    --primary-white: #FFFFFF;
    --about-us-title: #333333;
    --about-us-text: #999999;
    --big-section-title: #F7F7F7;
    --quote-text: #CACACA;
    --portfolio-decor-color: #F5F5F5;
    --progress-bar-skills: #e9ecef;
    --team-member-position: #FCFCFC;
    --bg-tstimonials: #3A0F73;
    --form-border: #EEEEEE;
}

 body, header{
    width: 100%;
    height: 100%;
    margin: 0;
 }  